<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="http://mantencion.skberge.cl" exactDestination="true"/>
  </system.webServer>
  <appSettings>
    <add key="com.h2center.skberge.consultavin" value="https://crm.skberge.pe/consultavin.asmx"/>
    <add key="com.h2center.skberge.admuservfc" value="https://crm.skberge.pe/admuservfc.asmx"/>
    <add key="host_correo" value="Postfix.skberge.com"/>
    <add key="puerto_correo" value="25"/>
    <add key="user_correo" value="web.skberge"/>
    <add key="pass_correo" value="**w32i78"/>
    <add key="correo_sistema" value="Repuestos@skberge.com.pe"/>
    <add key="correo_error" value="mqueupumilv@skberge.cl"/>
    <add key="asunto_error" value="Error en Web Repuestos Peru"/>
    <!--Eleccion de ambiente, "p" para produccion y "d" para desarrollo "q" para QA-->
    <add key="ambiente" value="p"/>
    <add key="ChartImageHandler" value="storage=session;timeout=60;"/>
    <!--<add key="urlprincipal" value="http://repuestos.skbergechile.qas/Repuestos.aspx"/>-->
    <add key="urlprincipal" value="http://localhost:64717/repuestos/Vistas/CasaMatriz.aspx"/>
    <!--<add key="urlprincipal" value= "http://repuestos/Vistas/CasaMatriz.aspx"/>-->
    <add key="ERD.ingreso_cotizacion" value="http://skpidev.sk.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SKB_WEBRPTOS_PE_D&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Generacion_Cotizacion_Interna_Out&amp;interfaceNamespace=urn:skb.cl:generacion_cotizacion_interna"/>
    <add key="ERD.crear_pedido" value="http://skpidev.sk.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SKB_WEBRPTOS_PE_D&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Generacion_Pedido_Venta_Out&amp;interfaceNamespace=urn:skb.cl:generacion_pedido_venta"/>
    <add key="ERD.consulta_pedido" value="http://skpidev.sk.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SKB_WEBRPTOS_PE_D&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Consulta_Estado_Pedido_Venta_Out&amp;interfaceNamespace=urn:skb.cl:consulta_estado_pedido_venta"/>
    <add key="pe.com.skberge.crm.SaveVFC" value="http://crm.skberge.com.pe/WS/SaveVFC.asmx"/>
    <!--SaveVFC PROD-->
    <add key="VIN.SI_Consulta_Vehiculos" value="http://sk-po-prd.sk.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_SKB_SPIGA&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Consulta_Vehiculos&amp;interfaceNamespace=urn:skb.cl/consulta_vehiculos_sap"/>
    <add key="QAS.PERU.SaveVFC" value="http://crm.skbergeperu.qas/WS/SaveVFC.asmx"/>
    <!--SaveVFCPERU  QAS-->
    <add key="pe.humano2.skberge.ConsultaVFC" value="https://crm.skberge.pe/WS/ConsultaVFC.asmx"/>
    <!--ConsultaVFC-->
    <add key="ERP.SI_Generacion_Pedido_Venta_Out" value="http://localhost:8085/Mock_GeneraPedido"/>
    <add key="ERP.SI_ConsultaRepuesto_oa" value="http://localhost:8080/Mock_ConsultaRepuesto"/>
    <add key="ERP.SI_Consulta_Estado_Pedido_Venta_Out" value="http://localhost:8088/Mock_ConsultaPedido"/>
    <add key="ERQ.SI_ConsultaRepuesto_oa" value="https://sk2wdp.sk.cl:44365/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SKB_WEBWTY_PE_Q&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaRepuesto_oa&amp;interfaceNamespace=urn:skb.cl:consulta_repuesto"/>
    <add key="ERQ.SI_Generacion_Pedido_Venta_Out" value="http://sk2poqpoqda.sk.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SKB_WEBRPTOS_PE_Q&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Generacion_Pedido_Venta_Out&amp;interfaceNamespace=urn:skb.cl:generacion_pedido_venta"/>
    <add key="ERQ.SI_Consulta_Estado_Pedido_Venta_Out" value="http://sk2poqpoqda.sk.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SKB_WEBRPTOS_PE_Q&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Consulta_Estado_Pedido_Venta_Out&amp;interfaceNamespace=urn:skb.cl:consulta_estado_pedido_venta"/>
    <add key="FAC.SI_Consulta_Factura_Out" value="http://sk2pop.sk.cl:8055/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_WEB_REPUESTOS_P&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Consulta_Factura_Out&amp;interfaceNamespace=urn:skb.cl:consulta_facturas"/>
    <!--SE AGREGAN NUEVAS URL PARA SERVICIOS HUMANOS 2-->
    <add key="InsertaPedidoVFCHumanos2" value="https://crm.humano2.com/astarawebapi/api/solicitudvfc/peru/setvfc"/>
    <add key="SeguimientoPedidoHumanos2" value="https://crm.humano2.com/astarawebapi/api/solicitudvfc/peru/getSeguimientosRepuesto"/>
    <add key="SeguimientoRepuestosHumanos2" value="https://crm.humano2.com/astarawebapi/api/solicitudvfc/peru/getSolicitudesRepuestos"/>
    <add key="TokenInsertaVFC" value="SWo1RHdocUl5MlFkSHVsdHF5QzBoRzRsNzNNSDg5Tkw5bDFUTkJaWmJVbjRwck4xblZRUXloSU5tdVRuZmRzNUxESEpyQnE5QUpzYkowanBrSGpQR1NEUlh5RSUyNTNE"/>
    <add key="TokenSeguimientoPedido" value="SWo1RHdocUl5MlFkSHVsdHF5QzBoRzRsNzNNSDg5Tkw5bDFUTkJaWmJVbjRwck4xblZRUXloSU5tdVRuZmRzNUxESEpyQnE5QUpzYkowanBrSGpQR1NEUlh5RSUyNTNE"/>
    <add key="TokenSolicitudRepuesto" value="SWo1RHdocUl5MlFkSHVsdHF5QzBoRzRsNzNNSDg5Tkw5bDFUTkJaWmJVbjRwck4xblZRUXloSU5tdVRuZmRzNUxESEpyQnE5QUpzYkowanBrSGpQR1NEUlh5RSUyNTNE"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!--
    PRODUCTIVO
    <add name="skbergeConnectionString" connectionString="Data Source=10.172.1.17\InsH; Initial Catalog=WebRepuestos;Persist Security Info=True;User ID=dnavarro;Pwd=5SpZh8ZHxQ" />
    <add name="WebRepuestosConnectionString" connectionString="Data Source=10.172.1.17\InsH;Initial Catalog=WebRepuestos;Persist Security Info=True;User ID=dnavarro;Password=5SpZh8ZHxQ" providerName="System.Data.SqlClient"/>
    -->
    <!-- PRE_PROD -->
    <add name="skbergeConnectionString" connectionString="Data Source=localhost; Initial Catalog=SKB_Webrepuestos_BO;Persist Security Info=True;User ID=sa;Pwd=Repetir12345"/>
    <add name="WebRepuestosConnectionString" connectionString="Data Source=localhost;Initial Catalog=SKB_Webrepuestos_BO;Persist Security Info=True;User ID=sa;Password=Repetir12345" providerName="System.Data.SqlClient"/>
    <!--QAS-->
    <!--<add name="skbergeConnectionString" connectionString="Data Source=10.50.10.18; Initial Catalog=SKB_WebrepuestosPEPREPRD;Persist Security Info=True;User ID=EXT.Anibal.Berrios.Q;Pwd=6eabTUyR1V"/>
    <add name="WebRepuestosConnectionString" connectionString="Data Source=10.50.10.18;Initial Catalog=SKB_WebrepuestosPEPREPRD;Persist Security Info=True;User ID=EXT.Anibal.Berrios.Q;Password=6eabTUyR1V" providerName="System.Data.SqlClient"/>-->
    <!--<add name="skbergeConnectionString" connectionString="Data Source=(local);Failover Partner=(local);Initial Catalog=SKB_WebrepuestosPeru;Persist Security Info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="WebRepuestosConnectionString" connectionString="Data Source=(local);Failover Partner=(local);Initial Catalog=SKB_WebrepuestosPeru;Persist Security Info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="index.aspx"/>
    </authentication>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="900000"/>
  </system.web>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="doc\\logWebReptos2.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-2p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>